/* @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'); */
@import 'mdb-react-ui-kit/dist/css/mdb.min.css';

* {
    margin: 0px;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', */
    /* 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #F7F7FA;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.divider {
    height: 2px;
    background: #f0f0f0;
    width: 100%;
}

.header-title {
    font-family: 'Pacifico';
}

.text-custom-gray {
    color: #949494;
}

img {
    object-fit: cover;
}

.btn-to-top {
    position: fixed!important;
    bottom: 2rem;
    right: 2rem;

    cursor: pointer;
}

/* 
.d-flex {
    align-items: center;
} */